body {
  height: 1154px;
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#main-body {
  width:960px;
  height: 1154px;
  background-color: #2B2B2B;
}


/* This is the side-bar */
.rectangle-2 {
	height: 1154px;
	width: 320px;
	background-color: #4C4C4C;
}

#info-modal {
  height: 1154px;
	width: 320px;
}
/* This is the end of the side-bar */

/* This is the drop-down */
.rectangle-6 {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  margin: 10px;
  background-color: #2B2B2B;
}
/* This is the end of the drop-down */

/* This is the card for each result */
.mask {
  height: 164px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #2B2B2B;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
/* This is the end of the card for each result */


.showing-117-results {
	height: 24px;
	width: 179px;
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
}
